.section {
    &__box {
        width: 100%;
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        z-index: 1000;
        margin: 0 auto;
        @media (max-width: 1199px) {
            max-width: 1024px;
        }
        @media (max-width: 1023px) {
            max-width: 768px;
        }
        @media (max-width: 767px) {
            max-width: 640px;
        }
        @media (max-width: 639px) {
            max-width: 100%;
        }
    }
}
