.promo__header {
  line-height: 36px;
  font-size: 24px;
  color: #434343;
}
@media (max-width: 639px) {
  .promo__header {
    font-size: 18px;
    line-height: normal;
  }
}
.promo__info--number {
  line-height: 74px;
  font-size: 50px;
  color: #434343;
}
.promo__info--text {
  line-height: 27px;
  font-size: 18px;
  color: #434343;
}
.promo__info {
  display: flex;
  margin-top: 7px;
  padding-left: 4px;
}
.promo__info--cell {
  flex-grow: 1;
  width: 100%;
}
.promo__info--cell:last-child {
  margin-top: 23px;
}
.promo__info--cell:last-child .promo__info--text {
  line-height: 24px;
  font-size: 16px;
  text-transform: uppercase;
  color: #434343;
}
.promo_type_offer {
  height: 498px;
  width: 1170px;
  display: block;
  margin: auto;
  border: 10px solid #4343430d;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 95px;
  margin-top: 95px;
}
.promo_type_offer .button {
  height: 32px;
  border-radius: 30px;
  display: block;
}
@media (max-width: 1199px) {
  .promo_type_offer {
    width: 1024px;
  }
}
@media (max-width: 1023px) {
  .promo_type_offer {
    width: 100%;
    margin-top: 60px;
    border: 10px solid #4343430d;
    height: 445px;
  }
}
@media (max-width: 639px) {
  .promo_type_offer {
    border-width: 10px;
    margin-top: 60px;
  }
  .promo_type_offer .col-xs-6 {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.promo_type_offer .col-md-6 {
  padding: 0;
  background-size: cover;
}
@media (max-width: 1023px) {
  .promo_type_offer .col-md-6 {
    height: 100%;
    display: block;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .promo_type_offer .promo__col--mobile {
    position: absolute;
    background: #fff;
    left: 75px;
    right: 75px;
    top: 75px;
    bottom: 75px;
    height: auto;
    width: auto;
  }
}
@media (max-width: 639px) {
  .promo_type_offer .promo__col--mobile {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.promo_type_offer .promo__button {
  width: 236px;
  height: 32px ;
  display: block;
  margin: auto;
  margin-top: 45px;
}
.promo_type_offer .promo__button .button__text {
  line-height: 32px;
}
.promo_type_offer .promo__header {
  text-transform: uppercase;
  text-align: center;
}
.promo_type_offer .promo__container {
  max-width: 70%;
  display: block;
  margin: auto;
}
.promo_type_offer .promo__description {
  line-height: 21px;
  font-size: 14px;
  text-align: center;
  color: #434343;
  margin-top: 32px;
}
@media (max-width: 639px) {
  .promo_type_offer .promo__description {
    text-align: left;
  }
}
.promo_type_offer .row {
  height: 100%;
  margin: 0;
  position: relative;
}
.promo_type_offer .promo__col {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.promo_type_order {
  height: 370px;
  background: #ccc;
  display: flex;
  align-items: center;
  background-size: contain;
  position: relative;
}
@media (max-width: 639px) {
  .promo_type_order {
    align-items: flex-end;
    height: 404px;
  }
}
.promo_type_order .button {
  height: 32px;
  border-radius: 30px;
  display: block;
}
.promo_type_order .section__box {
  position: relative;
}
@media (max-width: 639px) {
  .promo_type_order .section__box {
    padding: 0;
  }
}
@media (max-width: 639px) {
  .promo_type_order .section__box {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
}
.promo_type_order .section__box:before {
  display: block;
  content: '';
  position: absolute;
  top: -117px;
  left: -28px;
  width: 467px;
  height: 427px;
  background-image: url(/static/img/assets/promo/promo_type_helper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1199px) {
  .promo_type_order .section__box:before {
    top: -95px;
    left: 0;
  }
}
@media (max-width: 1023px) {
  .promo_type_order .section__box:before {
    left: -40%;
  }
}
@media (max-width: 639px) {
  .promo_type_order .section__box:before {
    width: 275px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    top: auto;
  }
}
@media (max-width: 480px) {
  .promo_type_order .section__box:before {
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    top: auto;
  }
}
.promo_type_order .promo__button {
  width: 236px;
  height: 32px;
  display: block;
  margin: auto;
  margin-top: 35px;
}
.promo_type_order .promo__button .button_theme_light .button__text {
  line-height: 32px;
}
@media (max-width: 639px) {
  .promo_type_order .promo__button {
    margin-top: 10px;
  }
}
.promo_type_order .promo__description {
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  color: #434343;
}
@media (max-width: 639px) {
  .promo_type_order .promo__description {
    font-size: 12px;
  }
}
.promo_type_order .promo__header {
  line-height: 33px;
  margin-bottom: 25px;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #434343;
}
@media (max-width: 639px) {
  .promo_type_order .promo__header {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .promo_type_order .promo__header {
    width: 70%;
    display: block;
    margin: auto;
  }
}
.promo_type_order .promo__content {
  width: 588px;
  height: 254px;
  background: #fff;
  padding: 40px 68px;
  border-radius: 4px;
  margin-left: auto;
}
@media (max-width: 1199px) {
  .promo_type_order .promo__content {
    width: 421px;
    height: 265px;
    padding: 40px 20px;
  }
}
@media (max-width: 1023px) {
  .promo_type_order .promo__content {
    width: 386px;
    height: 278px;
    padding: 20px 20px;
  }
}
@media (max-width: 639px) {
  .promo_type_order .promo__content {
    width: 100%;
    height: 50%;
    border-radius: 0;
  }
}
.promo_type_main {
  margin-top: 80px;
  background-repeat: no-repeat;
  margin-bottom: 87px;
  position: relative;
}
.promo_type_main::after {
  content: '';
  position: absolute;
  top: 0%;
  right: 0;
  left: 0;
  background-position: 100% -100px;
  background-repeat: no-repeat;
  bottom: 0;
  background-image: url(/static/img/assets/promo/promo_type_main.png);
}
.promo_type_main .promo__title {
  width: 65%;
  margin-bottom: 30px;
}
.promo_type_main .promo__description {
  width: 80%;
  padding-bottom: 35px;
  line-height: 1.5;
}
.promo_type_main .promo__description p {
  line-height: 1.5;
}
.promo .read-more {
  padding-top: 20px;
}
.promo .more {
  display: none;
}
@media (max-width: 1023px) {
  .promo_type_main {
    background-image: none !important;
  }
  .promo_type_main .promo__description {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .promo_type_main {
    margin-bottom: 0;
  }
  .promo_type_main .promo__description {
    font-size: 16px;
  }
  .promo_type_main .promo__info {
    display: none;
  }
  .promo_type_main .promo_type_main .promo__description {
    padding-bottom: 0;
  }
}
@media (max-width: 480px) {
  .promo_type_main .promo__description {
    font-size: 18px;
    width: 100%;
  }
  .promo_type_main .promo__title {
    font-size: 18px;
    width: 95%;
  }
}
@media (max-width: 1600px) {
  .promo_type_main:after {
    background-size: contain;
  }
}
@media (max-width: 1366px) {
  .promo_type_main:after {
    background-size: 1071px 663px;
    background-position: 203% -117px;
  }
}
@media (max-width: 1200px) {
  .promo_type_main:after {
    background-size: 735px;
    background-position: 100% -100px;
  }
}
@media (max-width: 1023px) {
  .promo_type_main:after {
    display: none;
  }
}
