mixin header-top
    +b.header-top
        +e.box.section__box
            +e.left
                .ui.secondary.tiny.menu
                    a.item.text.fs-14(href='/')
                        != pugHelpers.Icon.call(locals, {iconName: 'home'})
                    a.item(href='#') О компании
                    a.item(href='#') Доставка и оплата
                    a.item(href='#') Статьи
                    a.item.wt(href='#') Контакты
            +e.right
                .ui.secondary.tiny.menu
                    a.right.item.translate(href='#', data-lang='en')
                        != pugHelpers.Icon.call(locals, {iconName: 'user'})
                        | Личный кабинет
                    a.right.item.lang.translate(href='#', data-lang='en') EN
                    a.item.lang.translate(href='#', data-lang='it') IT
                    a.item.translate.wt(href='#', data-lang='ru') RU
                    .lang.ui.dropdown.scrolling
                        input(type='hidden', name='lang')
                        .default.text RU
                        i.dropdown.icon
                        .menu
                            .item RU
                            .item IT
                            .item EN
