include ../components/libs/bemto/bemto
include ../components/libs/jade-injected/jade-injected

include ../components/head/head.pug
include ../components/header/header
include ../components/icon/icon
include ../components/social/social
include ../components/slider/slider
include ../components/block-container/block-container
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")
    head
        +head({
            title: 'Интернет магазин Итальянской мебели в Москве'
        })
    body.page
        | %=symbols=%
        +header()
        +slider({
            type: 'main'
        })
        +b.section
            +e.box
                +block-container({
                    title: 'Итальянская мебель',
                    headerButtons: [
                        {
                            text: 'Все стили',
                            link: '#'
                        },
                        {
                            text: 'Классика',
                            link: '#'
                        },
                        {
                            text: 'Современный',
                            link: '#'
                        }
                    ]
                })
                +b.grid-categories
                    .grid-categories__col.grid-categories__col_size--1 
                        a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/1.jpg);")
                            .grid-categories__label Гостиные
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/2.jpg);")
                            .grid-categories__label Спальни
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/3.jpg);")
                            .grid-categories__label Мягкая мебель
                    .grid-categories__col.grid-categories__col_size--2 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/4.jpg);")
                            .grid-categories__label Кухни
               
                    .grid-categories__col.grid-categories__col_size--2 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/5.jpg);")
                            .grid-categories__label Детская мебель
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/6.jpg);")
                            .grid-categories__label Предметы интерьера
                    .grid-categories__col.grid-categories__col_size--2 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/7.jpg);")
                            .grid-categories__label Офисная мебель
                
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/8.png);")
                            .grid-categories__label Кабинеты
                    .grid-categories__col.grid-categories__col_size--2 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/9.jpg);")
                            .grid-categories__label Проектная мебель
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/10.jpg);")
                            .grid-categories__label Ванные комнаты
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/11.jpg);")
                            .grid-categories__label Межкомнатные  двери
                
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/12.jpg);")
                            .grid-categories__label Прихожие
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/13.jpg);")
                            .grid-categories__label Стенки ТВ и стеллажи
                    .grid-categories__col.grid-categories__col_size--2 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/14.jpg);")
                            .grid-categories__label Столы и стулья
                    .grid-categories__col.grid-categories__col_size--1 
                         a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/assets/15.jpg);")
                            .grid-categories__label Шкафы и гардеробы
                        
                        
        +b.section
            +e.box
                +block-container({
                    title: 'Специальное предложение'
                })
                    +slider({
                        type: 'card',
                        elements: []
                    })
                    
        +b.section
            +e.box
                +block-container({
                    title: 'Популярные модели',
                    headerLink: {name: 'Смотреть все',href: '/'}
                })
                    +slider({
                        type: 'card',
                        elements: []
                    })
        +b.section
            +e.box
                +block-container({
                    title: 'Популярные бренды',
                    headerLink: {name: 'Смотреть все', href: '/'}
                })
                    +slider({
                        type: 'brand',
                        elements: []
                    })
        +b.section
            +e.box
                +icon({type: 'arrow',semantic: 'arrow'})
                +icon({type: 'search',semantic: 'search'})
                +icon({type: 'basket',semantic: 'basket'})
                +icon({type: 'home',semantic: 'home'})
                +icon({type: 'user',semantic: 'user'})
                +icon({type: 'phone',semantic: 'phone'})
                +icon({type: 'burger',semantic: 'burger'})
                +icon({type: 'map',semantic: 'map'})
                +icon({type: 'phone-two'})
                +icon({type: 'social_vk'})
                +icon({type: 'social_fb'})
                +icon({type: 'social_lin'})
                +icon({type: 'social_yt'})
                +icon({type: 'social_in'})
                +icon({type: 'close'})
                +icon({type: 'search-main'})
                +icon({type: 'filter'})

        +b.section
            +e.box
        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
