include ../components/libs/bemto/bemto
include ../components/libs/jade-injected/jade-injected

include ../components/head/head.pug
include ../components/header/header
include ../components/icon/icon
include ../components/social/social
include ../components/slider/slider
include ../components/block-container/block-container
include ../components/footer/footer.pug

doctype html
html(class="no-js", lang="ru")
    head
        +head({
            title: 'Интернет магазин Итальянской мебели в Москве'
        })
    body.page
        | %=symbols=%
        +header()
        +slider({
            type: ''
        })
        +b.section
            +e.box
                +block-container({
                    title: 'Популярные Бренды',
                    headerButtons: [
                        {
                            name: 'Все стили',
                            link: '#'
                        },
                        {
                            name: 'Классика',
                            link: '#'
                        },
                        {
                            name: 'Современный',
                            link: '#'
                        }
                    ]
                })
        +slider({
            type: 'main',
            elements: []
        })

        section.page__wrapper
            +icon({mod: 'arrow'})
            +icon({mod: 'search'})
            +icon({mod: 'basket'})
            +icon({mod: 'home'})
            +icon({mod: 'user'})
            +icon({mod: 'phone'})
            +icon({mod: 'burger'})
            +icon({mod: 'map'})
            +icon({mod: 'phone-two'})
            +icon({mod: 'social-vk'})
            +icon({mod: 'social-fb'})
            +icon({mod: 'social-in'})
            +icon({mod: 'social-lin'})
            +icon({mod: 'social-yt'})
            +icon({mod: 'social-in'})
            +icon({mod: 'close'})
            +icon({mod: 'search-main'})
            +icon({mod: 'filter'})

            +b.section
                +e.box

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
