mixin header-bottom
    +b.header-bottom
        +e.box.section__box.ui.sticky
            .ui.menu
                .ui.pointing.dropdown.link.item
                    i.content.icon
                    | Каталог
                    i.dropdown.icon
                    .menu
                        .item
                            span.text Гостиные
                            i.icon.arrow-menu-left
                            .menu.right.level-last
                                .ui.column.grid
                                    .column
                                        h4.ui.header СТИЛИ
                                        .ui.link.list
                                            a.item Классика
                                            a.item Современный
                                            a.item Арт-Деко (Ар Деко)
                                            a.item Модерн
                                    .column
                                        h4.ui.header ПРЕДМЕТЫ
                                        .ui.link.list
                                            a.item Витрина
                                            a.item Буфет
                                            a.item Комод
                                            a.item Тумба
                                            a.item Зеркало
                                            a.item Тумба
                                            a.item Стол Овальный
                                            a.item Столик Журнальный
                                            a.item Стул
                                    .column
                                        h4.ui.header ФАБРИКИ
                                        .ui.link.list
                                            a.item Adrenalina
                                            a.item Agm
                                            a.item Agostini
                                            a.item Alberta Salotti
                                            a.item Adrenalina
                                            a.item Agm
                                            a.item Agostini
                                            a.item Alberta Salotti
                                            a.item Adrenalina
                                            a.item Agm
                        .item Спальни
                        .item Мягкая Мебель
                        .item Кухни
                        .item Детская Мебель
                        .item Предметы Интерьера
                        .item Офисная Мебель
                        .item Кабинеты
                        .item Проектная Мебель
                        .item Ванные Комнаты
                        .item Межкомнатные Двери
                        .item Прихожие
                        .item Стенки ТВ И Стеллажи
                        .item Столы И Стулья
                        .item Шкафы И Гардеробы
                .ui.pointing.dropdown.link.item
                    | Товар в наличии
                    i.dropdown.icon
                .ui.pointing.dropdown.link.item
                    | акции и скидки
                    i.dropdown.icon
                .ui.pointing.dropdown.link.item
                    | фабрики
                    i.dropdown.icon
                .right.menu
                    a.item._border
                        .fixed-search
                            form#form_header(action='/catalog/search/')
                                input.fixed-search__input(name='q', value='', type='text', placeholder='ПОИСК СРЕДИ 78524 ТОВАРОВ')
                                button.fixed-search__btn(type='submit', name='s', title='Поиск')
                                    i.search.icon
                    a.item.cart(data-position="bottom right")
                        | корзина
                        i.icon.cart
                        span.cart-count 5
