.header-main {
    background: url("../img/assets/header/header-main/bg.jpg") center top / cover no-repeat;
    height: 120px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        max-width: 1030px !important;
    }

    &__left {
        margin-top: 5px;
    }

    &__center {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 112px;

        .header__icon-box {
            position: absolute;

            &_search {
                left: 0;
            }

            &_cart {
                right: 0;
            }
        }

        .header__icon-name {
            display: block;
            margin-bottom: 10px;
            font-size: 15px;
        }

        .header__icon {
            font-size: 30px;
            color: #FCFCFB;

            &_search {
            }

            &_cart {
                position: relative;

                &-count {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: #C0AA70;
                    color: #fff;
                    line-height: 24px;
                    text-align: center;
                    font-size: 13px;
                }
            }
        }
    }
    &__right {
        margin-top: 5px;
    }

    &__logo {
        position: relative;
        height: 90px;
        width: 140px;

        img {
            position: absolute;
            top: 52%;
            left: 53%;
            transform: translate(-50%, -50%);
        }
    }
}
