.header-main {
  background: url("../img/assets/header/header-main/bg.jpg") center top / cover no-repeat;
  height: 120px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &__left {
    margin-left: 8.6%;
    margin-top: 5px;
  }
  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__icon-box {
      &_search {
        margin-left: -98px;
      }
      &_cart {
        margin-right: -98px;
      }
      margin-top: -5px;
      position: absolute;
    }
    .header__icon-name {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 15px;
    }
    .header__icon {
      font-size: 30px;
    }
  }
  &__right {
    margin-right: 8.6%;
    margin-top: 5px;
  }
  &__logo {
    position: relative;
    height: 90px;
    width: 140px;
    img {
      position: absolute;
      top: 52%;
      left: 53%;
      transform: translate(-50%,-50%);
    }
  }
}
