.card {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
  padding: 0 15px;
  cursor: pointer;
}
.card__box {
  position: relative;
  background: #F1F1F1;
  border: 1px solid #DEDEDF;
  border-radius: 4px;
}
.card__label {
  top: 17px;
  left: -12px;
  position: absolute;
  transition: all .4s;
  height: 30px;
  width: 100%;
  max-width: 146px;
  text-align: center;
  line-height: 30px;
  z-index: 9;
  font-size: 16px;
}
.card__label:before {
  content: '';
  position: absolute;
  top: 18px;
  left: -12px;
  display: block;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  z-index: -1;
}
.card__label:after {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  display: block;
  height: 12px;
  width: 12px;
  z-index: 1;
}
.card__label_red {
  background: #CC0000;
  color: #fff;
}
.card__label_red:before {
  border-right-color: #990000;
}
.card__label_red:after {
  background: #CC0000;
}
.card__label_yellow {
  background: #FF9900;
  color: #fff;
}
.card__label_yellow:before {
  border-right-color: #FF9900;
}
.card__label_yellow:after {
  border-right-color: #FF9900;
}
.card__view {
  position: relative;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  display: block;
  transition: all .3s;
}
.card__view:hover {
  opacity: .8;
}
.card__stars {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  max-width: 100px;
}
.card__star {
  width: 20px;
  height: 20px;
  background: url("../img/assets/card/star.svg") center / contain no-repeat;
}
.card__star_active {
  background: url("../img/assets/card/star.svg") center / contain no-repeat;
}
.card__info {
  padding: 10px 0 10px;
  color: #434343;
  text-align: center;
}
.card__vendor-code {
  font-size: 13px;
  margin-bottom: 8px;
}
.card__title {
  line-height: 19px;
  font-size: 16px;
  letter-spacing: -0.03em;
  font-weight: 700;
  height: 64px;
  padding: 0 25px;
  display: block;
}
.card__price {
  margin-bottom: 14px;
}
.card__btn {
  margin-bottom: 6px;
}
.card__availability {
  font-size: 13px;
  color: #4F6EB7;
}
