include ../button/button
mixin card(params)

    +b.card
        +e.box
            -
                var classLabel = 'label';
                if('label_mod' in params && params.label_mod.length) classLabel += '_'+params.label_mod;
            +e(class=classLabel) Акция - 56%
            +e.A.view(href="/")
                +e.IMG.image(src="/static/img/assets/card/product.jpg" alt="")
                +e.OL.stars
                    +e.LI.star_active
                    +e.LI.star_active
                    +e.LI.star_active
                    +e.LI.star_active
                    +e.LI.star_active
            +e.info
                +e.vendor-code Композиция: 133-072
                +e.A.title.link(href="#") Журнальные столики и пуфы коллекции Philipp фабрики Selva
                +e.price от 234 567 ₽
                +e.btn
                    +button({text: 'В корзину', type: 'primary', mod: 'card'})
                +e.availability В наличии
