include ../button/button
mixin card(params)
    +b.card
        +e.box
            -
                var classLabel = 'label';
                if('label_mod' in params && params.label_mod.length) classLabel += '_'+params.label_mod;
            if(params.label)
                +e(class=classLabel)= params.label
            +e.view
                +e.IMG.image(src='static/img/assets/card/'+params.image alt="")
                if(params.stars)
                    +e.OL.stars
                        +e.LI.star_active
                        +e.LI.star_active
                        +e.LI.star_active
                        +e.LI.star_active
                        +e.LI.star_active
            +e.info
                if(params.code)
                    +e.vendor-code= params.code
                +e.A.title.link(href="#")= params.name
                +e.price=params.price
                +e.btn
                    +button({text: 'В корзину', type: 'primary', mod: 'card'})
                if(params.availab)
                    +e.availability В наличии
