.footer {
  background: #61565A;
}
.footer__wrap {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  margin: auto;
}
@media (max-width: 1199px) {
  .footer__wrap {
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .footer__wrap {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .footer__wrap {
    max-width: 640px;
  }
}
@media (max-width: 639px) {
  .footer__wrap {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .footer__list {
    max-height: 0;
    overflow: hidden;
    padding-left: 40px;
  }
  .footer__list.active {
    display: block;
    margin-top: 12px;
    max-height: none;
    overflow: hidden;
  }
}
.footer__content,
.footer__column {
  display: flex;
}
.footer__header {
  line-height: normal;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .footer__header {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 37px;
    position: relative;
  }
  .footer__header.active {
    background: #584C50;
  }
  .footer__header.active::after {
    transform: translateY(-50%) rotate(-90deg);
  }
  .footer__header::after {
    content: '';
    position: absolute;
    right: 27px;
    top: 50%;
    width: 8.5px;
    height: 17px;
    background-image: url(../img/assets/icon/arrow_f.svg);
    transform: translateY(-50%);
    transition: all .4s;
  }
}
@media (max-width: 639px) {
  .footer__header {
    line-height: 58px;
    padding-left: 30px;
    margin-bottom: 4px;
  }
  .footer__header:hover {
    background: #584C50;
  }
}
.footer__column-content {
  flex-grow: 1;
  margin-left: 28px;
}
@media (max-width: 639px) {
  .footer__column-content {
    padding-left: 30px;
    padding-left: 0;
    margin-left: 0;
  }
}
.footer__content {
  padding-top: 37px;
}
@media (max-width: 1023px) {
  .footer__content {
    display: block;
    padding-top: 27px;
  }
}
@media (max-width: 767px) {
  .footer__content {
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer__content {
    padding-top: 30px;
  }
}
@media (max-width: 639px) {
  .footer__content {
    display: block;
    width: 100%;
  }
}
.footer__contacts--item {
  display: block;
  margin-bottom: 19px;
  margin-left: 23px;
  color: #fff;
  transition: all.4s;
}
.footer__contacts--item .icon {
  color: #fff;
}
.footer__contacts--item:hover.link .footer__contacts--link {
  color: #c87065;
}
.footer__contacts--item:hover.link .footer__contacts--link::before {
  border-color: #c87065;
}
@media (max-width: 1023px) {
  .footer__contacts--item {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .footer__contacts--item {
    margin-bottom: 50px;
  }
  .footer__contacts--item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 639px) {
  .footer__contacts--item {
    margin-bottom: 42px;
    margin-left: 0;
  }
}
.footer__contacts--item .icon {
  width: 14px;
  height: 14px;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
}
.footer__contacts--item .icon_type_phone {
  background-image: url(/static/img/assets/icon/phone.svg);
}
.footer__contacts--item .icon_type_home-phone {
  background-image: url(/static/img/assets/icon/homephone.svg);
}
.footer__contacts--text {
  margin-left: 13px;
  line-height: 28px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .footer__contacts--text {
    font-size: 26px;
    margin-left: 20px;
  }
}
@media (max-width: 1023px) {
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
  }
}
@media (max-width: 767px) {
  .footer__contacts {
    display: block;
    flex-grow: 1;
    width: 50%;
    padding-left: 40px;
  }
}
@media (max-width: 639px) {
  .footer__contacts {
    width: 100%;
    padding-left: 30px;
    margin-top: 30px;
    padding-top: 30px;
  }
}
.footer__contacts--text-ghost {
  line-height: normal;
  font-size: 11px;
  color: #CCCCCC;
  display: block;
  margin-left: 30px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .footer__contacts--text-ghost {
    font-size: 14px;
    margin-left: 36px;
    margin-top: 7px;
  }
}
.footer__contacts--link {
  line-height: normal;
  position: relative;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 12px;
}
@media (max-width: 1199px) {
  .footer__contacts--link {
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .footer__contacts--link {
    font-size: 18px;
  }
}
.footer__contacts--link:after {
  content: '';
  width: 100%;
  left: 0;
  right: 0;
  bottom: -5px;
  border-width: 1px;
  border-color: #fff;
  border-style: dashed;
  position: absolute;
}
.footer__list-item {
  display: block;
  margin-bottom: 5px;
}
.footer__column {
  width: 80%;
}
@media (max-width: 1023px) {
  .footer__column {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .footer__column {
    display: block;
    width: auto;
    flex-grow: 1;
    width: 50%;
  }
}
@media (max-width: 639px) {
  .footer__column {
    display: block;
    width: 100%;
  }
}
.footer__copyright {
  background: #30272A;
  height: 50px;
  align-items: center;
  display: flex;
  margin-top: 27px;
}
@media (max-width: 1023px) {
  .footer__copyright {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .footer__copyright {
    margin-top: 11px;
    height: 83px;
  }
}
@media (max-width: 639px) {
  .footer__copyright {
    margin-top: 44px;
    height: auto;
  }
}
.footer__copyright--wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 639px) {
  .footer__copyright--wrap {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-top: 30px;
  }
}
.footer__social {
  margin-right: 41px;
  margin-top: 5px;
}
.footer__social .icon {
  font-size: 20px;
  background-repeat: no-repeat;
}
@media (max-width: 1199px) {
  .footer__social {
    margin-right: 0;
  }
}
.footer__copyright--text {
  line-height: normal;
  font-size: 14px;
  margin-left: 28px;
  color: #A4A0A1;
}
@media (max-width: 767px) {
  .footer__copyright--text {
    padding-left: 10px;
  }
}
@media (max-width: 639px) {
  .footer__copyright--text {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.footer__list-item {
  line-height: 18px;
  font-size: 12px;
  color: #CCCCCC;
  text-decoration: none;
}
.footer__list-item:hover {
  text-decoration: underline;
}
