include ../header-cart/header-cart
mixin footer(params)
    +b.footer
        if(params.promo)
            +b.promo-full_footer(style="background-image: url('/static/img/assets/promo-full/footer.jpg')")
                +e.box
                    +e.center
                        +e.title ВАМ НУЖНА ПОМОЩЬ В ВЫБОРЕ?
                        +e.description.
                            Мы предлагаем Вам оставить заявку на нашем сайте, чтобы наш менеджер смог связаться с Вами и помочь решить все Ваши вопросы и тонкости выбора.
                        +b.FORM.form_footer(data-form)
                            +e.main
                                +e.INPUT.input(name="name" val="" placeholder="Представьтесь пожалуйста")
                                +e.INPUT.input(name="phone" val="" placeholder="Ваш номер телефона")
                                +e.INPUT.input(name="email" val="" placeholder="Ваш адрес электронной почты")
                                +e.check
                                    input(type="hidden" name="requiredField" value="")
                                    .ui.checkbox
                                        input.hidden(type='checkbox', tabindex='0')
                                        label!= "Я ознакомлен с  "
                                            a(href="/data-safety/") политикой конфиденциальности
                                            |  и даю согласие на обработку персональных данных
                            +e.footer
                                +button({text: 'Отправить',type: 'primary'})
        +e.wrap
            +e.content
                +e.column
                    +e.column-content
                        +e.header КАТАЛОГ:
                        +e.list
                            +e.A.list-item.link(href="#" target="_blank")  Мебель
                            +e.A.list-item.link(href="#" target="_blank")  Акции и скидки
                            +e.A.list-item.link(href="#" target="_blank")  Новинки
                            +e.A.list-item.link(href="#" target="_blank")  Склад
                            +e.A.list-item.link(href="#" target="_blank")  Хиты продаж
                            +e.A.list-item.link(href="#" target="_blank")  Бренды
                    +e.column-content
                        +e.header КОМПАНИЯ:
                        +e.list
                            +e.A.list-item.link(href="#" target="_blank")   О нас
                            +e.A.list-item.link(href="#" target="_blank")  Наши сотрудники
                            +e.A.list-item.link(href="#" target="_blank")  Наши проекты
                            +e.A.list-item.link(href="#" target="_blank")  Фотогалерея
                            +e.A.list-item.link(href="#" target="_blank")  Контакты
                            +e.A.list-item.link(href="#" target="_blank")  Отзывы
                    +e.column-content
                        +e.header НАШИ УСЛУГИ:
                        +e.list
                            +e.A.list-item.link(href="#" target="_blank")  Доставка по Москве
                            +e.A.list-item.link(href="#" target="_blank")  Доставка по России
                            +e.A.list-item.link(href="#" target="_blank")  Хранение
                            +e.A.list-item.link(href="#" target="_blank")  Монтаж
                            +e.A.list-item.link(href="#" target="_blank")  Реставрация
                            +e.A.list-item.link(href="#" target="_blank")  Дизайн проект
                    +e.column-content
                        +e.header ИНФОРМАЦИЯ:
                        +e.list
                            +e.A.list-item.link(href="#" target="_blank")  Оплата и цена
                            +e.A.list-item.link(href="#" target="_blank")  Сотрудничество
                            +e.A.list-item.link(href="#" target="_blank")  Новости
                            +e.A.list-item.link(href="#" target="_blank")  Статьи
                            +e.A.list-item.link(href="#" target="_blank")  Вакансии
                            +e.A.list-item.link(href="#" target="_blank")  Карта сайта
                +e.contacts
                    +e.A.contacts--item(href="tel:84957839733")
                        +b.icon._type_phone
                        +e.contacts--text 8 (495) 783-97-33
                    +e.A.contacts--item(href="tel:88005507877")
                        +b.icon._type_home-phone
                        +e.contacts--text 8 (800) 550-78-77
                        +e.contacts--text-ghost Бесплатный звонок по РФ
                    +e.A.contacts--item(href="/contacts.html").link
                        <i class="map marker alternate icon"></i>
                        +e.contacts--link Смотреть адреса на карте

        +e.copyright
            +e.copyright--wrap.__wrap
                +e.copyright--text © ELIT - элитная мебель, 2007 - 2018
                +e.social
                    +b.social
                        +e.A.item(href="#" target="_blank")
                            +icon({mod: 'social-vk'})
                        +e.A.item(href="#" target="_blank")
                            +icon({mod: 'social-fb'})
                        +e.A.item(href="#" target="_blank")
                            +icon({mod: 'social-lin'})
                        +e.A.item(href="#" target="_blank")
                            +icon({mod: 'social-yt'})
                        +e.A.item(href="#" target="_blank")
                            +icon({mod: 'social-in'})
        +b.cart.popup.ui
            +header-cart()
        +b.phone.popup.ui
            +b.mobile-phones
                +b.mobile-phone
                    +e.icon
                    +e.A.text="8 (495) "
                        strong 783-97-33
                +b.mobile-phone
                    +e.icon
                    +e.A.text="8 (800) "
                        strong 550-78-77
                    +e.description Бесплатный звонок по РФ
