mixin grid-categories(data)
    +b.grid-categories
        +e.tab.ui.tab.active(data-tab="all")
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_1.jpg);")
                    .grid-categories__label Гостиные
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_2.jpg);")
                    .grid-categories__label Спальни
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_3.jpg);")
                    .grid-categories__label Мягкая мебель
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_4.jpg);")
                    .grid-categories__label Кухни

            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_5.jpg);")
                    .grid-categories__label Детская мебель
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_6.jpg);")
                    .grid-categories__label Предметы интерьера
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_7.jpg);")
                    .grid-categories__label Офисная мебель

            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_8.png);")
                    .grid-categories__label Кабинеты
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_9.jpg);")
                    .grid-categories__label Проектная мебель
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_10.jpg);")
                    .grid-categories__label Ванные комнаты
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_11.jpg);")
                    .grid-categories__label Межкомнатные  двери

            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_12.jpg);")
                    .grid-categories__label Прихожие
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_13.jpg);")
                    .grid-categories__label Стенки ТВ и стеллажи
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_14.jpg);")
                    .grid-categories__label Столы и стулья
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_15.jpg);")
                    .grid-categories__label Шкафы и гардеробы
        +e.tab.ui.tab.active(data-tab="classic")
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_1.jpg);")
                    .grid-categories__label Гостиные
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_2.jpg);")
                    .grid-categories__label Спальни
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_3.jpg);")
                    .grid-categories__label Мягкая мебель
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/classic_4.jpg);")
                    .grid-categories__label Кухни

            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_5.jpg);")
                    .grid-categories__label Детская мебель
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_6.jpg);")
                    .grid-categories__label Предметы интерьера
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_7.jpg);")
                    .grid-categories__label Офисная мебель

            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_8.png);")
                    .grid-categories__label Кабинеты
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_9.jpg);")
                    .grid-categories__label Проектная мебель
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_10.jpg);")
                    .grid-categories__label Ванные комнаты
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_11.jpg);")
                    .grid-categories__label Межкомнатные  двери

            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_12.jpg);")
                    .grid-categories__label Прихожие
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_13.jpg);")
                    .grid-categories__label Стенки ТВ и стеллажи
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_14.jpg);")
                    .grid-categories__label Столы и стулья
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_15.jpg);")
                    .grid-categories__label Шкафы и гардеробы
        +e.tab.ui.tab(data-tab="modern")
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_1.jpg);")
                    .grid-categories__label Гостиные
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_2.jpg);")
                    .grid-categories__label Спальни
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_3.jpg);")
                    .grid-categories__label Мягкая мебель
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_4.jpg);")
                    .grid-categories__label Кухни

            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_5.jpg);")
                    .grid-categories__label Детская мебель
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_6.jpg);")
                    .grid-categories__label Предметы интерьера
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_7.jpg);")
                    .grid-categories__label Офисная мебель

            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_8.png);")
                    .grid-categories__label Кабинеты
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_9.jpg);")
                    .grid-categories__label Проектная мебель
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_10.jpg);")
                    .grid-categories__label Ванные комнаты
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_11.jpg);")
                    .grid-categories__label Межкомнатные  двери

            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_12.jpg);")
                    .grid-categories__label Прихожие
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_13.jpg);")
                    .grid-categories__label Стенки ТВ и стеллажи
            .grid-categories__col.grid-categories__col_size--2
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_14.jpg);")
                    .grid-categories__label Столы и стулья
            .grid-categories__col.grid-categories__col_size--1
                a.grid-categories__item(href="#" style="background-image: url(/static/img/assets/grid-categories/modern_15.jpg);")
                    .grid-categories__label Шкафы и гардеробы
