mixin entry(param)
    +b.entry
        +e.A.item
            +e.item-box(style="background-image: url(./static/img/assets/entry/1.jpg)")
                +e.DIV.info
                    +e.DIV.item--date 10.10.2016
                    +e.DIV.item--name Выбираем мебель для зоны отдыха в гостинной
        +e.A.item
            +e.item-box(style="background-image: url(./static/img/assets/entry/1.jpg)")
                +e.DIV.info
                    +e.DIV.item--date 10.10.2016
                    +e.DIV.item--name Обстановка домашней комнаты представительского класса
