mixin icon(params)
    -
        var name_block = 'icon',
        currentClass = name_block;
        if('mod' in params && params.mod.length) {
        currentClass =  name_block+'_'+params.mod;
        }
    +b.DIV(class= currentClass)
        
