include header-top/header-top
include header-main/header-main
include header-bottom/header-bottom
mixin header
    +b.header
        +e.top
            +header-top()
        +e.main
            +header-main()
        +e.bottom
            +header-bottom()
