.header {
    //height: auto!important;
    &__main--basket {
        display: flex;
    }

    &__phone {
        position: relative;
        color: #ffffff;
        padding-left: 27px;

        &-number {
            font-size: 21px;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        &-description {
            font-size: 13px;
        }


        .icon {
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleX(-1);
            font-size: 17px;
            margin-bottom: 8px;
        }
    }

    &__icon {
        &-box {
            text-align: center;
            color: #c0aa70;
        }

        &-name {

        }
        &_card{

        }
    }
}
.ui.menu .menu ._border{
    &:before{
        display: none;
    }
}
.header__icon_cart{
    font-size: 25px !important;
    margin-right: 6px;
}
.header__icon-box{
    color: #fff
}
.header-bottom__box .right{
    display: none !important;
}
.header-bottom__box.fixed .right{
    display: flex !important;
}
.header-bottom__box.fixed  > .ui.menu{
    height: 36px;
}
.header__main{
    position: relative;
    z-index: 99999;
}
.header__bottom{
    z-index: 9999;
}


@media (max-width: 768px){
    .header__bottom{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    .header__icon_cart{
        font-size: 20px !important;
    }
}
