.header {
  display: none;
}
.header__phone {
  position: relative;
  color: #ffffff;
  padding-left: 27px;
}
.header__phone-number {
  font-size: 21px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.header__phone-description {
  font-size: 13px;
}
.header__phone .icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
  font-size: 17px;
  margin-bottom: 8px;
}
.header__icon-box {
  text-align: center;
  color: #c0aa70;
}
