.button {
    display: block;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    min-height: 32px;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 1px;
        margin-right: -1px;
        vertical-align: middle;
        text-align: center;
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
        font: inherit;
        color: inherit;
    }

    &_theme{
        &_default {

        }
        &_gray {

        }
        &_light{
            border-radius: 30px;
            border: 1px solid #A39134;
            box-sizing: border-box;
            text-align: center;
            transition: all .2s;
            color: #434343;
            &:hover{
                background: #bca153;
                color: #fff;
            }
        }
    }

    &_mod {
        &_card {
            width: 160px;
        }
    }
}
