body,html {
    height: auto;
}
.page {
    font-family: 'HelveticaNeueCyr', Arial, sans-serif;
    background: #fff;
    position: relative;
    &_catalog {
        background: #f1f1f1;
    }
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}



.page__buffer {
    height: 50px;
}
::selection {background: #ccc;}
::-moz-selection {background: #ccc;}
::-webkit-selection {background: #ccc; color:#fff;}

.ui.menu {
    font-family: 'HelveticaNeueCyr', Arial, sans-serif;
}

a {
    color: inherit;
    &:hover {
        color: #c0aa70;
    }
}
