.slider {
    position: relative;

    &__navigation {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        padding-top: 40px;
        padding-bottom: 2px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 15px;
            left: 50%;
            margin-left: 7px;
            width: 0;
            height: 0;
            border: 12.5px solid transparent;
            border-top: 10px solid #DAC95A;
        }

        &-item {
            &:first-of-type {
                display: none;
            }
            position: relative;
            font-size: 19px;
            color: #ffffff;
            line-height: 1;
            margin: 0 12px;
            cursor: pointer;
            border: 1px solid transparent;
            height: 32px;
            padding: 0 10px;
            transition: all .4s;
            font-weight: 300;
            &:after{
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }

           &:not(:last-of-type){
               margin-right: 0px;
               &:before{
                   content: '';
                   height: 19px;
                   width: 1px;
                   background: #ffffff;
                   opacity: 0.8;
                   right: -7px;
                   position: absolute;
                   top: 5px;
               }
           }
            span{
                display: inline-block;
                vertical-align: middle;
            }
            &.active {
                border: 1px solid #FBCF3A;
            }
            &:hover{
                border: 1px solid #FBCF3A;
            }


        }
    }


    &_entry {
        margin: 0 -5px!important;
    }

    &_brand {
        margin: 0 -10px !important;
    }

    .owl-dots {
        margin: 0;
        padding-top: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding-left: 0;

        li button {
            display: inline-block;
            vertical-align: middle;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            font-size: 0;
            color: transparent;
            background-color: #D3CFD1;
            padding: 0;
            border: none;
            box-shadow: none;
            margin-right: 5px;

        }

        li:last-of-type button {
            margin-right: 0;
        }

        li.slick-active button {
            background-color: #4D4145;
        }
    }

    .owl-dots {
        margin: 0;
        padding-top: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding-left: 0;

        .owl-dot {
            outline: none;

            span {
                display: inline-block;
                vertical-align: middle;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                font-size: 0;
                color: transparent;
                background-color: #D3CFD1;
                padding: 0;
                border: none;
                box-shadow: none;
                margin-right: 5px;
                outline: none;
            }
        }

        .owl-dot:last-of-type span {
            margin-right: 0;
        }

        .owl-dot.active span {
            background-color: #4D4145;
        }
    }

    &__main {
        height: 270px;
        position: relative;
        overflow: hidden;

    }

    &__share {
        height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.85);
        display: flex;
        align-items: center;
        justify-content: center;

        .icon.icon_type_fire {
            width: 16px;
            height: 16px;
            background-image: url('../img/assets/icon/fire.svg');
        }

    }

    &__share--text {
        margin-left: 15px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;

        color: #434343;
    }

    &__min {
        margin-top: 10px;
        display: flex;

        justify-content: space-between;
    }

    &__min--item {
        transition: all .4s;
        cursor: pointer;
        max-width: 106px;
        max-height: 100px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__main--item img {
        width: 100%;
        height: auto;
        display: block;
    }

    &_type {
        &_product {
            margin: 0 !important;
        }
    }

    &__list {
        display: flex;
        justify-content: flex-start;

        &_main {
            width: 100%;
            overflow: hidden;
            margin: 0 !important;

            &:before,
            &:after {
                content: '';
                display: block;
                width: calc(~"(100% - 1170px) / 2");
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(255, 255, 255, .75);
                z-index: 99;
            }
            &:after {
                left: auto;
                right: 0;
            }

            .owl-item {
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.3);
                }
            }

            .slider__item {
                &-box {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 5%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 9;
                }

                &-info {
                    width: 100%;
                    max-width: 64%;
                    padding: 3.2% 0 0 1.6%;
                }

                &-logo {
                    position: relative;
                    width: 149px;
                    height: 149px;
                    background-color: #fff;
                    margin-bottom: 20px;

                    img {
                        display: block;
                        position: absolute;
                        width: 100%;
                        max-width: 100px;
                        max-height: 100%;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                    }
                }

                &-title {
                    font-size: 36px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    font-weight: 900;
                    margin-bottom: 26px;
                }

                &-description {
                    line-height: 25px;
                    font-size: 21px;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                    font-weight: 300;
                }

                &-view {
                    width: 100%;
                    max-width: 36%;
                    padding: 3.2% 0 0 0;
                }

                &-add-image {
                    max-width: 354px;
                    max-height: 288px;
                    margin: 0 auto;
                    border: 1px solid #fff;
                    img {
                        display: block;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                &_logo {
                    .slider__item {
                        &-add-image {
                            position: relative;
                            width: 149px;
                            height: 149px;
                            background-color: #fff;
                            margin: 0 0  20px auto;
                            img {
                                display: block;
                                position: absolute;
                                width: 100%;
                                max-width: 100px;
                                max-height: 100%;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                            }
                        }
                    }
                }
                &_right {
                    .slider__item {
                        &-box {
                            flex-direction: row-reverse;
                        }
                        &-add-image {
                            margin: 1.1% 0 0 1.3%;
                        }
                        &-info {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            max-width: 50.5%;
                            padding: 3.3% 0.5% 0 0;
                        }
                        &-title {
                            margin-bottom: 22px;
                        }
                        &-logo {
                            align-self: flex-end;
                            margin-bottom: 16px;
                        }
                    }
                }
            }

            .owl-nav {
                position: absolute;
                width: 85%;
                top: 41%;
                left: 0;
                right: 0;
                margin: 0 auto;
                line-height: 0;
                height: 0;

                .owl-prev,
                .owl-next {
                    position: relative;
                    display: block;
                    width: 36px;
                    height: 70px;
                    outline: transparent;

                    background-repeat: no-repeat !important;
                    background-position: center !important;

                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        transition: opacity 0.25s ease-in-out;
                        z-index: 9;
                    }

                    &:after {
                        background: rgba(196, 196, 196, 0.8);
                        opacity: 0;
                    }

                    &:hover {
                        &:before {
                            opacity: 0;
                        }

                        &:after {
                            opacity: 1;
                        }
                    }
                }

                .owl-prev {
                    float: left;
                    background-image: url('../img/assets/slider/arrow-prev.svg') !important;
                    margin-left: calc(~"(100% - 1170px) / 2 + 10px");
                }

                .owl-next {
                    float: right;
                    background-image: url('../img/assets/slider/arrow-next.svg') !important;
                    margin-right: calc(~"(100% - 1170px) / 2 + 10px");
                }
            }

            .owl-dots {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0;
                padding-bottom: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style-type: none;
                padding-left: 0;

                .owl-dot {
                    outline: none;
                    text-align: center;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        font-size: 0;
                        color: transparent;
                        background-color: rgba(255, 255, 255, 0.3);
                        padding: 0;
                        border: none;
                        box-shadow: none;
                        margin: 0 2px;
                    }

                    &:last-of-type span {
                        margin-right: 0;
                    }

                    &.active span {
                        background: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }
    }

    &_card,
    &_brand {
        margin: 0 -15px;
    }
}


.lang.ui.dropdown {
    position: relative;
    display: none;
}

@media (max-width: 1199px) {
    .slider {
        &__navigation {
            display: none;
        }
        &__list {
            .slider__item-box {
                display: none;
            }
        }
    }
}
@media (max-width: 1023px) {
    .slider {
        &_card {
            margin: 0 -30px 0 -15px;
        }
        &_brand {
            margin: 0 -30px 0 -8px!important;
        }
        &_main {
            .slider__item {
                display: flex;
                img {
                    width: auto;
                    height: 295px;
                }
            }
        }
    }
}

@media (max-width: 639px) {
    .slider__list--full .slider__main {
        height: 159px;
    }

    .slider__share--text {
        font-size: 12px !important;
    }

    .slider__min--item {
        max-width: 67px;
        max-height: 47px;
    }
}
@media (max-width: 767px) {

}
.slider__list_main .owl-item{
    margin-top: -1px;
}

