.slider {
  position: relative;
  margin: 0 -15px !important;
}
.slider__navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  padding-top: 46px;
}
.slider__navigation:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: 7px;
  width: 0;
  height: 0;
  border: 12.5px solid transparent;
  border-top: 10px solid #DAC95A;
}
.slider__navigation-item {
  font-size: 19px;
  color: #ffffff;
  padding: 0 6px;
  margin: 0 6px;
  line-height: 1;
}
.slider__navigation-item.active {
  border: 1px solid #FBCF3A;
}
.slider__navigation-item:not(:last-of-type) {
  border-right: 1px solid;
}
.slider__list {
  display: flex;
  justify-content: flex-start;
}
.slider__list.slick-slider {
  display: block;
}
.slider__list_main {
  margin: 0 !important;
  display: none;
}
.slider__list_main .owl-item {
  position: relative;
}
.slider__list_main .owl-item:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.slider__list_main .owl-item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 99;
}
.slider__list_main .owl-item.center.active:before {
  display: none;
}
.slider__list_main .slider__item-box {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.slider__list_main .slider__item-info {
  width: 100%;
  max-width: 64%;
  padding: 3.2% 0 0 1.2%;
}
.slider__list_main .slider__item-logo {
  position: relative;
  width: 149px;
  height: 149px;
  background-color: #fff;
  margin-bottom: 20px;
}
.slider__list_main .slider__item-logo img {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 100px;
  max-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.slider__list_main .slider__item-title {
  font-size: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 900;
  margin-bottom: 26px;
}
.slider__list_main .slider__item-description {
  line-height: 25px;
  font-size: 21px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.slider__list_main .slider__item-view {
  width: 100%;
  max-width: 36%;
  padding: 3.2% 0 0 0;
}
.slider__list_main .slider__item-add-image {
  max-width: 354px;
  max-height: 288px;
  margin: 0 auto;
}
.slider__list_main .slider__item-add-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.slider__list_main .owl-nav {
  position: absolute;
  width: 85%;
  top: 41%;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 0;
  height: 0;
}
.slider__list_main .owl-nav .owl-prev,
.slider__list_main .owl-nav .owl-next {
  position: relative;
  display: block;
  width: 36px;
  height: 70px;
  outline: transparent;
  background-repeat: no-repeat !important;
  background-position: center!important;
}
.slider__list_main .owl-nav .owl-prev:before,
.slider__list_main .owl-nav .owl-next:before,
.slider__list_main .owl-nav .owl-prev:after,
.slider__list_main .owl-nav .owl-next:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  z-index: 9;
}
.slider__list_main .owl-nav .owl-prev:after,
.slider__list_main .owl-nav .owl-next:after {
  background: rgba(196, 196, 196, 0.8);
  opacity: 0;
}
.slider__list_main .owl-nav .owl-prev:hover:before,
.slider__list_main .owl-nav .owl-next:hover:before {
  opacity: 0;
}
.slider__list_main .owl-nav .owl-prev:hover:after,
.slider__list_main .owl-nav .owl-next:hover:after {
  opacity: 1;
}
.slider__list_main .owl-nav .owl-prev {
  float: left;
  background-image: url('../img/assets/slider/arrow-prev.svg') !important;
}
.slider__list_main .owl-nav .owl-next {
  float: right;
  background-image: url('../img/assets/slider/arrow-next.svg') !important;
}
.slider__list_main .owl-dots {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.slider__list_main .owl-dots .owl-dot {
  outline: none;
  text-align: center;
}
.slider__list_main .owl-dots .owl-dot span {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  font-size: 0;
  color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
  border: none;
  box-shadow: none;
  margin: 0 2px;
}
.slider__list_main .owl-dots .owl-dot:last-of-type span {
  margin-right: 0;
}
.slider__list_main .owl-dots .owl-dot.active span {
  background: rgba(255, 255, 255, 0.8);
}
.slider_entry {
  margin: 0!important;
}
.slider_brand {
  margin: 0 -10px !important;
}
.slider .owl-dots {
  margin: 0;
  padding-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.slider .owl-dots li button {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 0;
  color: transparent;
  background-color: #D3CFD1;
  padding: 0;
  border: none;
  box-shadow: none;
  margin-right: 5px;
}
.slider .owl-dots li:last-of-type button {
  margin-right: 0;
}
.slider .owl-dots li.slick-active button {
  background-color: #4D4145;
}
.slider .owl-dots {
  margin: 0;
  padding-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.slider .owl-dots .owl-dot {
  outline: none;
}
.slider .owl-dots .owl-dot span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 0;
  color: transparent;
  background-color: #D3CFD1;
  padding: 0;
  border: none;
  box-shadow: none;
  margin-right: 5px;
  outline: none;
}
.slider .owl-dots .owl-dot:last-of-type span {
  margin-right: 0;
}
.slider .owl-dots .owl-dot.active span {
  background-color: #4D4145;
}
.slider__main {
  height: 270px;
  position: relative;
  overflow: hidden;
}
.slider__share {
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__share .icon.icon_type_fire {
  width: 16px;
  height: 16px;
  background-image: url('../img/assets/icon/fire.svg');
}
.slider__share--text {
  margin-left: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #434343;
}
.slider__min {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.slider__min--item {
  transition: all .4s;
  cursor: pointer;
  max-width: 106px;
  max-height: 100px;
  overflow: hidden;
}
.slider__min--item img {
  height: 100%;
  width: 100%;
}
.slider__min--item:hover {
  opacity: 0.7;
}
.slider__main--item img {
  width: 100%;
  height: auto;
  display: block;
}
.slider_type_product {
  margin: 0 !important;
}
.slider_main {
  display: none;
}
@media (max-width: 639px) {
  .slider__list--full .slider__main {
    height: 159px;
  }
  .slider__share--text {
    font-size: 12px !important;
  }
  .slider__min--item {
    max-width: 67px;
    max-height: 47px;
  }
}
