.breadcrumbs__list {
  margin: 0;
  padding: 0;
}
.breadcrumbs__item {
  list-style: none;
  display: inline-block;
  position: relative;
}
.breadcrumbs__item::after {
  content: '';
}
.breadcrumbs__text {
  line-height: 12px;
  font-size: 13px;
  text-align: center;
  padding-left: 15px;
  color: #434343;
}
